<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <form>
      <fieldset>
        <legend>회원가입</legend>
        <div><input type="text" placeholder="USER NAME" /></div>
        <div><input type="password" placeholder="PASSWORD" /></div>
        <div><input type="text" placeholder="본명" /></div>
        <div><input type="text" placeholder="별명" /></div>
        <div><input type="button" value="회원가입" /></div>
      </fieldset>
    </form>
  </body>
</html>
