@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
}
body {
  color: #333;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  padding: 20px;

  h1,
  section,
  footer {
    width: 60%;
    margin: 5px auto;
  }
}

h1 {
  text-align: center;
  font-size: 2.6rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 0.9rem;
}
section.memo.main {
  display: flex;
  article {
    flex: 1 1 50%;
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

section.memo article.list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div.date-time {
    display: inline-flex;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    input {
      flex: 1;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    li {
      padding: 1rem;
      border-bottom: 2px solid #aaa;
      font-size: 1.6rem;
      display: flex;
      i {
        margin-right: 10px;
        line-height: 1.6rem;
        color: blue;
      }
      span {
        flex: 1;
      }
      i.memo-delete {
        color: red;
        font-size: 3rem;
        font-weight: 900;
        opacity: 0;
        transition: opacity 0.7s;
      }
      /* li tag Ïóê hover */
      &:hover {
        background-color: #f4f4f4;
        cursor: pointer;
      }
      &:hover i.memo-delete {
        opacity: 1;
      }
    }
  }
  input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    &:hover {
      cursor: pointer;
      background-color: #ddd;
    }
  }
  input[type="button"] {
    background-color: #333;
    color: #fff;
    &:hover {
      background-color: #555;
    }
  }
}

section.memo article.sub {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  input,
  textarea {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  input[type="button"] {
    padding: 12px;
    background-color: #000077;
    color: #fff;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: #555;
    }
  }
}

footer {
  text-align: center;
  font-size: 1.2rem;
  margin-top: auto;
  padding: 10px;
  background-color: #777;
  color: white;
}
