<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.hello.dao.RoleDao">
 
 	<insert id="insert">
 		INSERT INTO tbl_roles ( r_username, r_role )
 		VALUES
 		<foreach collection="list" item="vo" separator=", ">
 			(  #{vo.r_username}, #{vo.r_role} )
 		</foreach>
 	</insert>
 	<update id="update"></update>

	<select id="create_role_table">
		CREATE TABLE tbl_roles (
			r_username VARCHAR(30) NOT NULL,
		    r_role VARCHAR(20) NOT NULL,
		    CONSTRAINT FK_USER
		    FOREIGN KEY  (r_username)
		    REFERENCES tbl_users(username)
		    ON DELETE CASCADE
		)
	</select>

 
 </mapper> 