@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
  width: 100vw;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  section.main {
    flex: 1;
  }
}

header.main {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border: 1px solid blue;

  background-image: url("../../static/images/gwang.jpg");
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-position: center;
}

section.main {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 5px;
  padding: 1rem;
  section {
    flex: 1;
    border: 1px solid blue;
  }
}

section.station {
  overflow-y: auto;
  ul {
    list-style-type: none;
    li {
      display: flex;
    }
  }

  form {
    width: 100%;
    background-color: #eee;
    padding: 0.8rem;
    input {
      width: 80%;
      display: block;
      margin: 5px auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 12px;
    }
  }

  span {
    display: inline-block;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
    padding: 12px 16px;
    &:nth-of-type(2) {
      flex: 1;
    }
    &:hover {
      cursor: pointer;
      background-color: #ddd;
    }
  }
}

section.stop_time {
  overflow: auto;
}

ul.arrive-list {
  list-style-type: none;
  li {
    border-bottom: 1px solid #ddd;
    display: flex;
    span {
      padding: 12px 16px;
      flex: 1;
      white-space: nowrap;
    }
    h1.error {
      width: 100%;
      color: blue;
      padding: 8px;
      text-align: center;
    }
  }
}

li.title span {
  font-weight: 900;
}

@media (max-width: 900px) {
  section.main {
    flex-direction: column;
    section {
      width: 90%;
      scrollbar-width: none;
    }
  }
}
