<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나의 홈</title>
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/static/css/main.css}" />
    <script th:inline="javascript">
      // thymeleaf 에서 제공하는 context.rootPath 를 JS에서 사용할수 있도록 변수 선언
      const rootPath = /*[[@{/}]]*/
    </script>
    <script
      th:inline="javascript"
      src="../../static/js/main.js"
      th:src="@{/static/js/main.js}"
    ></script>
  </head>
  <body>
    <header class="main">
      <h1>광주광역시 버스도착정보 시스템 2024</h1>
      <p>공공데이터(data.go.kr)의 Open API 를 이용한 버스도착정보 시스템</p>
    </header>
    <section class="main">
      <article class="station" th:replace="~{::station}"></article>
      <article class="stop_time" th:replace="~{::stop_time}"></article>
    </section>
  </body>
</html>
